.content{
    padding: 25px 50px;

    .header{
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
        margin-bottom: 15px;

        h2{
            margin: 0px;
        }

        button{
            font-size: 18px;
        }
    }

    .main{
        flex-direction: row;
        display: flex;
        flex-wrap: wrap;

    }
}