<!-- NavBar -->
<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
   <!--  <mat-icon>menu</mat-icon> -->
  </button>
  <span>Galería de Productos</span>
  <span class="example-spacer"></span>
</mat-toolbar>


<router-outlet></router-outlet>

<!-- Footer-->
<mat-divider></mat-divider>
<div class="footer">
  <fa-icon [icon]="icon" size="lg"></fa-icon>
  <h3>Código en GitHub: <a mat-button color="primary" href="https://github.com/VicmarStephany/products-app/tree/master">VicmarStephany</a></h3>
</div>