.example-spacer {
  flex: 1 1 auto;
}

.footer{
  display: flex;
  flex-direction: row;
  padding: 10px 50px 10px 50px;
  align-items: center;
  background-color: #673ab71f;

  h3{
    margin-bottom: 0px;
    margin-left: 20px;
  }
}